h2{color: blue; font-size: 26px;}

a{color: blueviolet; font-size: 26px;}

div{color: black;background-color: lightgreen; }

p{color: green}

body {background-color: pink;}

.uno {background: lightgreen}

